body {
    background-color: #b70909;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}
h1 {
    color: rgb(6, 6, 6);
    text-align: center;
    margin-top: 300px;
}
h4 {
    color: rgb(6, 6, 6);
    text-align: center;
    margin-top: 250px;
}